.skeleton-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 30px;
    left: 10%;
}
.skeleton-container li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item-group{
    margin: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 400px;
    transition: .4s;
    border-radius: 20px;
}
@media screen and (max-width: 1400px) {
    .skeleton-container{
        left: 2%;
    }
}
@media screen and (max-width: 730px) {
    .skeleton-container{
        left: 0;
    }
    .item-group{
        margin: auto;
        margin-bottom: 20px;
        width: 350px;
    }
    
}