@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Kanit:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Jost&family=Kanit:wght@300&display=swap');

.container_tr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 100%;
    margin-top: 30px;
}
.container_tr h1{
    font-family: 'Kanit';
    
}
.container_tr img{
    width: 500px;
    border-radius: 10px;
}
.box_info{
    padding: 10px;
    width: 300px;
    font-family: 'Jost',Arial, Helvetica, sans-serif;
    text-align: center;
}
.box_info .details{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.details h3{
    display: flex;
    align-items: center;
}
.box_info button{
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border:1px solid #3D8833;
    color: #3D8833;
    cursor: pointer;
    transition: .4s;
}
.box_info button:hover{
    border-radius: 30px;
    background-color:#3D8833;
    color: #fff;
}
@media screen and (max-width: 710px) {
    .container_tr{
        margin-top: 0;
    }
    .container_tr img{
        width: 500px;
        border-radius: 0px;
    }
    .box_info button{
        margin-top: 20px;
    }
}