@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Kanit:wght@300&display=swap');

.container_home h1{
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    font-family: 'Kanit', sans-serif;
}
.box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.box li{
    margin: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 400px;
}
.box img{
    height: 250px;
}
.box strong{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    margin: 2px 0;
    padding: 3px;
}
.box span{
    display: flex;
    padding: 5px;
    font-size: 16px;
    font-family: sans-serif;
    opacity: 80%;
}
.box button{
    color: #3D8833;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #3D8833;
    background-color: transparent;
    transition: 0.3s;
    font-family: 'Kanit', sans-serif;
}
.box button a{
    text-decoration: none;
    color: #3D8833;
}
.box button a:hover{
    color: #fff;
}
.box button:hover{
    background-color: #3D8833;
    color: #fff;
}
.box button:disabled{
    color: red;
    border: 1px solid red;
    cursor: no-drop;
}
.box button:disabled:hover{
    background-color: #fff;
}
.box .buttons{
    display: flex;
    width: 100%;
    justify-content: center;
}
.box .buttons button{
    width: 100%;
}
.box .amounts{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.box .amounts button{
    border: none;
}
.box_sobre{
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 20px auto;
    background-color: #3D8833;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 4px 1px #000;
    flex-direction: column;
}
.box_sobre p{
    font-size: 22px;
    font-family: 'Kanit';
}
.box_sobre .medias{
    display: flex;
    justify-content: center;
    text-align: center;
}
.box_sobre .medias a{
    margin: 015px;
}
@media screen and (max-width: 730px) {
    .box{
        flex-direction: column;
    }
    .box li{
        margin: auto;
        margin-bottom: 20px;
        width: 350px;
    }
    .box_sobre{
        text-align: center;
        width: 300px;
    }
}